<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}

<body>
    <h1>Edit</h1>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-info ml-2" type="submit">Update</button>
    </form>

</body>
{% endblock content %}

</html>