<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}

<body class=" .bg bg-light">
        <h2>Sign In</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Sign Up</button>
    </form>
    <p></p>
</body>
{% endblock content %}

</html>